{% extends 'base.html.twig' %}

{% block title %}{{ 'page.profile'|trans }}{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">{{ 'page.profile'|trans }}</h1>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-4">{{ 'word.name'|trans }}</div>
            <div class="col-8">{{ app.user.name }}</div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-4">{{ 'word.email'|trans }}</div>
            <div class="col-8">{{ app.user.email }}</div>
        </div>
        <h3>{{ 'page.profileFavorisSerie'|trans }}</h3>
        {% for program in user.programs %}
            <ul>{{ program.title }}</ul>
        {% else %}
            <p>{{ 'page.profileFarisSerieMessage'|trans }}</p>
        {% endfor %}
    </div>
{% endblock %}