{% extends "base.html.twig" %}

{% block title %}
    {{ 'page.categoryAdminNew'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'page.categoryAdminNewTitle'|trans }}</h1>

    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button class="btn">{{ button_label|default('page.adminSaveButton'|trans) }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}