{% extends 'base.html.twig' %}

{% block title %}{{ 'page.episodeAdmin'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'page.episodeAdminTitle'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'word.title'|trans }}</th>
                <th>{{ 'word.number'|trans }}</th>
                <th>{{ 'word.synopsis'|trans }}</th>
                <th>{{ 'word.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td>{{ episode.id }}</td>
                <td>{{ episode.title }}</td>
                <td>{{ episode.number }}</td>
                <td>{{ episode.synopsis }}</td>
                <td>
                    <a href="{{ path('episode_show', {'slug': episode.slug}) }}">{{ 'list.show'|trans }}</a>
                    <a href="{{ path('episode_edit', {'slug': episode.slug}) }}">{{ 'list.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'page.episodeAdminMessageList'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('episode_new') }}">{{ 'page.episodeAdminCreateButton'|trans }}</a>
{% endblock %}
