{% extends 'base.html.twig' %}

{% block title %}{{ 'page.episodeAdminNew'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'page.episodeAdminNewTitle'|trans }}</h1>

    {{ include('episode/_form.html.twig') }}

    <a href="{{ path('episode_index') }}">{{ 'page.adminReturnButton'|trans }}</a>
{% endblock %}
