{% extends 'base.html.twig' %}

{% block title %}{{ 'page.seasonAdminNew'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'page.seasonAdminNewTitle'|trans }}</h1>

    {{ include('season/_form.html.twig') }}

    <a href="{{ path('season_index') }}">{{ 'page.adminReturnButton'|trans }}</a>
{% endblock %}
