{% extends 'base.html.twig' %}

{% block title %}{{ 'page.serieAdminEdit'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'page.serieAdminEditTitle'|trans }}</h1>

    {{ include('program/_form.html.twig', {'button_label': 'page.adminUpdateButton'|trans }) }}

    <a href="{{ path('program_index') }}">{{ 'page.adminReturnButton'|trans }}</a>

    {{ include('program/_delete_form.html.twig') }}
{% endblock %}
