{% extends 'base.html.twig' %}

{% block title %}{{ 'page.serieAdminNew'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'page.serieAdminNewTitle'|trans }}</h1>

    {{ include('program/_form.html.twig') }}

    <a href="{{ path('program_index') }}">{{ 'page.adminReturnButton'|trans }}</a>
{% endblock %}
