{% extends "base.html.twig" %}

{% block title %}
    {{ 'page.serie'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'page.serieTitle'|trans }} : </h1>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} - {{ 'word.category'|trans }} : {{ program.category.name }}</h2>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        {{ 'page.serieListMessage'|trans }}
    {% endfor %}
    <a href="{{ path('app_index') }}">
        {{ 'page.serieReturnButton'|trans }}
    </a>
{% endblock %}