{% extends 'base.html.twig' %}

{% block title %}{{ 'page.actorAdmin'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'page.actorAdminTitle'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th></th>
                <th>{{ 'word.name'|trans }}</th>
                <th>Slug</th>
                <th>{{ 'word.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for actor in actors %}
            <tr>
                <td>{{ actor.id }}</td>
                <td><img src="{{ actor.picture is not empty ? vich_uploader_asset (actor, 'posterFile', 'App\\Entity\\Actor') : asset('build/img/default_profile.png')}}" class="img-fluid"></td>
                <td>{{ actor.name }}</td>
                <td>{{ actor.slug }}</td>
                <td>
                    <a href="{{ path('actor_show', {'slug': actor.slug}) }}">{{ 'list.show'|trans }}</a>
                    <a href="{{ path('actor_edit', {'slug': actor.slug}) }}">{{ 'list.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'page.actorAdminMessageList'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('actor_new') }}">{{ 'page.actorAdminCreateButton'|trans }}</a>
{% endblock %}
