{% extends 'base.html.twig' %}

{% block title %}{{ 'page.actorAdminNew'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'page.actorAdminNewTitle'|trans }}</h1>

    {{ include('actor/_form.html.twig') }}

    <a href="{{ path('actor_index') }}">{{ 'page.adminReturnButton'|trans }}</a>
{% endblock %}
