{% extends 'base.html.twig' %}

{% block title %}{{ 'page.actorAdminShow'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'page.actorAdminShowTitle'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actor.id }}</td>
            </tr>
            <tr>
                <th>{{ 'word.name'|trans }}</th>
                <td>{{ actor.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ actor.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('actor_index') }}">{{ 'page.adminReturnButton'|trans }}</a>

    <a href="{{ path('actor_edit', {'slug': actor.slug}) }}">{{ 'list.edit'|trans }}</a>

    {{ include('actor/_delete_form.html.twig') }}
{% endblock %}
